In [37]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Imputación de nulos usando métodos avanzados estadísticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

# Librerías de visualización
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt
# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

In [ ]:
#Leemos los CSVs

df1 = pd.read_csv('../files/Customer Flight Activity.csv')

In [ ]:
df2 = pd.read_csv('../files/Customer Loyalty History.csv')

Exploramos el primer CSV:

In [40]:
df1.head()

#Este df contiene num. de vuelos, distancia y puntos acumulados y usados, de cada usuario por mes y año.

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
0,100018,2017,1,3,0,3,1521,152.0,0,0
1,100102,2017,1,10,4,14,2030,203.0,0,0
2,100140,2017,1,6,0,6,1200,120.0,0,0
3,100214,2017,1,0,0,0,0,0.0,0,0
4,100272,2017,1,0,0,0,0,0.0,0,0

In [41]:
df1.shape

(405624, 10)

In [42]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405624 entries, 0 to 405623
Data columns (total 10 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Loyalty Number               405624 non-null  int64
 1   Year                         405624 non-null  int64
 2   Month                        405624 non-null  int64
 3   Flights Booked               405624 non-null  int64
 4   Flights with Companions      405624 non-null  int64
 5   Total Flights                405624 non-null  int64
 6   Distance                     405624 non-null  int64
 7   Points Accumulated           405624 non-null  float64
 8   Points Redeemed              405624 non-null  int64
 9   Dollar Cost Points Redeemed  405624 non-null  int64
dtypes: float64(1), int64(9)
memory usage: 30.9 MB

Cambiar el tipo de dato de Points Accumulated a int

In [43]:
df1.isna().sum()

Loyalty Number                 0
Year                           0
Month                          0
Flights Booked                 0
Flights with Companions        0
Total Flights                  0
Distance                       0
Points Accumulated             0
Points Redeemed                0
Dollar Cost Points Redeemed    0
dtype: int64

In [44]:
df1.duplicated().sum()

1864

In [ ]:
#df1 = df1[df1['Total Flights'] != 0]

#Eliminamos valores que no aportan a nuestro df

#UPDATE: sí que pueden aportar en un momento dado, p.ej. para calcular una media de vuelo entre todos los meses de un mismo cliente

In [49]:
df1['Loyalty Number'].is_unique

False

In [50]:
df1['Loyalty Number'].value_counts()

Loyalty Number
678205    72
989528    48
373638    48
684889    48
684881    48
          ..
428526    24
428536    24
428565    24
428590    24
999891    24
Name: count, Length: 16737, dtype: int64

In [ ]:
#Tomamos un valor de 'Loyalty Number' aleatorio para ver qué información recoge
df1.loc[df1['Loyalty Number'] == 617489, :]

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
9750,617489,2017,1,6,0,6,2172,217.00,0,0
9751,617489,2017,1,5,3,8,2648,264.00,0,0
26651,617489,2017,2,3,0,3,861,86.00,0,0
26652,617489,2017,2,0,0,0,0,0.00,0,0
43552,617489,2017,3,7,0,7,3374,337.00,0,0
60453,617489,2017,4,2,0,2,1626,162.00,0,0
60454,617489,2017,4,2,2,4,1848,184.00,0,0
77354,617489,2017,5,13,0,13,1677,167.00,0,0
77355,617489,2017,5,6,0,6,2022,202.00,0,0
89764,617489,2018,11,11,1,12,2556,255.00,353,29
94255,617489,2017,6,9,7,16,1472,147.00,0,0
94256,617489,2017,6,0,0,0,0,0.00,0,0
111156,617489,2017,7,20,0,20,5400,540.00,0,0
128057,617489,2017,8,13,2,15,2130,213.00,0,0
128058,617489,2017,8,0,0,0,0,0.00,0,0
144958,617489,2017,9,2,2,4,896,89.00,0,0
144959,617489,2017,9,1,1,2,3072,307.00,0,0
161859,617489,2017,10,4,4,8,3264,326.00,0,0
161860,617489,2017,10,0,0,0,0,0.00,0,0
178760,617489,2017,11,3,0,3,348,34.00,0,0
178761,617489,2017,11,3,3,6,1860,186.00,0,0
195661,617489,2017,12,7,6,13,2366,236.00,0,0
195662,617489,2017,12,1,0,1,3670,367.00,0,0
212562,617489,2018,1,4,2,6,1362,136.00,0,0
212563,617489,2018,1,0,0,0,0,0.00,0,0
217437,617489,2018,8,17,8,25,3275,327.00,512,41
220173,617489,2018,2,10,0,10,660,82.50,0,0
232844,617489,2017,7,13,5,18,3348,334.00,687,55
246365,617489,2018,3,0,0,0,0,0.00,0,0
254655,617489,2018,2,1,0,1,1826,227.50,0,0
255781,617489,2018,4,13,4,17,2873,358.75,0,0
263266,617489,2018,4,0,0,0,0,0.00,0,0
268793,617489,2018,3,8,0,8,3944,492.50,0,0
280166,617489,2018,5,14,8,22,4774,477.00,0,0
280167,617489,2018,5,0,0,0,0,0.00,0,0
297067,617489,2018,6,8,0,8,1648,164.00,0,0
297068,617489,2018,6,3,3,6,2226,222.00,0,0
313968,617489,2018,7,5,5,10,3130,313.00,0,0
313969,617489,2018,7,0,0,0,0,0.00,0,0
330870,617489,2018,8,10,6,16,4592,459.00,0,0
346721,617489,2018,12,9,8,17,1547,154.00,457,37
347771,617489,2018,9,2,0,2,834,83.00,0,0
357213,617489,2018,9,7,5,12,1320,132.00,604,49
360354,617489,2017,3,6,2,8,952,95.00,515,42
364671,617489,2018,10,8,2,10,3530,353.00,0,0
364672,617489,2018,10,7,0,7,2429,242.00,0,0
381573,617489,2018,11,1,1,2,1372,137.00,0,0
398474,617489,2018,12,0,0,0,0,0.00,0,0

Como podemos observar, para un mismo cliente, año y mes hay varias filas, que pueden estar o no duplicadas.
Para ello, vamos a agrupar por número de cliente, año y mes, sumando el resto de columnas entre sí. 
Con esto, ya tendremos nuestro dataframe libre de duplicados.

In [ ]:
df1 = df1.groupby(["Loyalty Number", "Year", "Month"], as_index=False).sum()

In [ ]:
# Vemos los valores únicos para cada columna del df y el conteo de los mismos. Con esto comprobamos que los datos no contienen valores atípicos:

for columna in df1:
    print(f'Valores únicos de {columna}:')
    print(df1[columna].unique())
    print(f'Conteo de valores únicos de {columna}:')
    print(df1[columna].nunique())
    print('---'*30)

Valores únicos de Loyalty Number:
[100018 100102 100140 ... 999940 999982 999986]
Conteo de valores únicos de Loyalty Number:
16737
------------------------------------------------------------------------------------------
Valores únicos de Year:
[2017 2018]
Conteo de valores únicos de Year:
2
------------------------------------------------------------------------------------------
Valores únicos de Month:
[ 1  2  3  4  5  6  7  8  9 10 11 12]
Conteo de valores únicos de Month:
12
------------------------------------------------------------------------------------------
Valores únicos de Flights Booked:
[ 3  2 14  4  0 10  9  6 13  1  7  5 11 17 15  8 12 16 20 18 19 30 22 21
 25 32 24 26 31 35 23 27 36 28 34 39 37 38 29 33]
Conteo de valores únicos de Flights Booked:
40
------------------------------------------------------------------------------------------
Valores únicos de Flights with Companions:
[ 0  2  3  1  5  4  7  6  8  9 10 11 16 19 12 13 17 18 14 15 20]
Conteo de valores únicos de Flights with Companions:
21
------------------------------------------------------------------------------------------
Valores únicos de Total Flights:
[ 3  4 17  0  5 10 15 13  6 14  1  7 16 11 23 19  9  8 18 12 21  2 20 22
 28 26 29 27 25 24 30 33 41 31 32 34 35 50 48 38 36 40 37 44 46 42 43 39
 57 49 45 47]
Conteo de valores únicos de Total Flights:
52
------------------------------------------------------------------------------------------
Valores únicos de Distance:
[1521 1320 2533 ... 6312 1979 5676]
Conteo de valores únicos de Distance:
5169
------------------------------------------------------------------------------------------
Valores únicos de Points Accumulated:
[152. 132. 253. ... 684. 970. 631.]
Conteo de valores únicos de Points Accumulated:
1736
------------------------------------------------------------------------------------------
Valores únicos de Points Redeemed:
[  0 438 690 385 685 510 593 459 402 393 614 371 464 546 559 561 581 828
 495 335 431 683 461 499 605 832 512 502 556 365 712 644 425 468 324 353
 555 493 760 549 340 410 579 341 770 501 681 505 389 325 484 342 552 382
 515 700 720 698 608 737 487 444 471 746 576 548 379 373 567 454 507 456
 517 670 488 366 448 678 541 509 511 376 761 506 397 523 676 440 449 407
 419 528 564 594 308 344 539 489 465 467 719 547 632 358 368 524 289 457
 551 742 526 327 481 384 386 323 473 403 363 589 333 519 391 570 474 310
 584 618 490 640 364 733 435 687 522 458 667 628 765 613 415 497 387 396
 450 315 639 405 582 600 588 508 469 702 706 662 466 482 392 446 844 383
 404 669 417 607 312 553 557 647 478 480 625 708 623 680 491 412 423 796
 500 436 729 408 348 784 424 516 565 503 726 622 604 668 788 595 374 558
 739 413 375 611 433 298 453 543 429 574 641 345 357 533 394 496 655 601
 529 293 587 666 362 334 451 656 398 748 409 612 483 347 598 352 485 753
 332 682 818 349 619 643 494 437 867 531 535 550 560 597 422 664 673 740
 686 311 421 562 319 654 689 814 696 328 460 521 841 470 857 727 787 596
 671 320 677 455 430 527 862 370 817 418 575 314 351 401 826 545 569 309
 472 663 806 629 609 329 388 580 439 583 638 354 463 736 378 477 819 704
 572 651 782 400 534 355 661 479 432 513 538 660 300 336 781 617 361 563
 610 592 718 443 359 637 514 426 757 414 411 566 476 441 321 777 498 585
 350 606 372 337 504 873 395 427 642 554 356 434 306 571 475 744 304 442
 653 525 390 747 568 797 776 360 794 646 627 339 330 486 800 343 783 635
 492 313 602 694 530 815 652 381 650 731 367 785 544 586 577 599 812 452
 778 615 717 326 665 573 692 645 520 447 621 591 762 705 710 860 674 756
 769 542 536 537 633 840 299 861 369 658 428 540 679 675 316 766 302 709
 406 749 693 626 752 807 649 380 578 825 346 331 377 713 695 707 659 741
 634 691 771 657 688 730 779 603 786 462 338 318 620 716 758 824 754 835
 875 750 743 399 697 305 648 721 734 684 317 811 307 636 723 798 445 701
 820 772 590 745 420 838 722 833 518 792 735 863 624 724 616 672 630 703
 322 532 728 801 854 631 416 850 808 996 805 837 821 836 699 809 715 847
 789 738 851 804 714 799 297 822 775 301 711 294 751 732 813 295 802 292
 725 839 291 773 755 842 780 793 870 846 849 852 831 290 855 827 774 816
 830 790 764 791 868 803 763 829 823 303 845 768 848 810 759 843 984 834
 864 296 767 872 871 876 795 866 964 869 858 934 874 865 859]
Conteo de valores únicos de Points Redeemed:
591
------------------------------------------------------------------------------------------
Valores únicos de Dollar Cost Points Redeemed:
[ 0 36 56 31 55 41 48 37 33 32 50 30 38 44 45 47 67 40 27 35 49 57 52 34
 26 29 61 28 62 39 42 58 59 60 46 54 43 25 51 24 53 68 64 63 66 70 69 65
 80 71 78 75]
Conteo de valores únicos de Dollar Cost Points Redeemed:
52
------------------------------------------------------------------------------------------

In [54]:
#Ordenamos y comprobamos que no existen valores negativos:

columnas = ['Loyalty Number', 'Distance', 'Points Accumulated']
for columna in columnas:
    print(f'Valores ordenados de {columna}:')
    print(df1[columna].sort_values(ascending=True))
    print('---'*30)

Valores ordenados de Loyalty Number:
0         100018
23        100018
22        100018
21        100018
20        100018
           ...
401665    999986
401664    999986
401686    999986
401674    999986
401687    999986
Name: Loyalty Number, Length: 401688, dtype: int64
------------------------------------------------------------------------------------------
Valores ordenados de Distance:
200843        0
221750        0
221751        0
221752        0
221753        0
          ...
398406     9716
261618     9752
138066     9781
356514     9903
285810    11244
Name: Distance, Length: 401688, dtype: int64
------------------------------------------------------------------------------------------
Valores ordenados de Points Accumulated:
200843       0.0
221750       0.0
221751       0.0
221752       0.0
221753       0.0
           ...
356514     990.0
99158     1009.5
223430    1012.5
285810    1124.0
44438     1216.5
Name: Points Accumulated, Length: 401688, dtype: float64
------------------------------------------------------------------------------------------

Comenzamos la exploración del segundo CSV:

In [55]:
df2.head()

#Este df contiene información personal de cada usuario, desde su info geográfica, hasta su educación, salario, situación personal, cancelaciones...

,Loyalty Number,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month
0,480934,Canada,Ontario,Toronto,M2Z 4K1,Female,Bachelor,83236.0,Married,Star,3839.14,Standard,2016,2,NaN,NaN
1,549612,Canada,Alberta,Edmonton,T3G 6Y6,Male,College,NaN,Divorced,Star,3839.61,Standard,2016,3,NaN,NaN
2,429460,Canada,British Columbia,Vancouver,V6E 3D9,Male,College,NaN,Single,Star,3839.75,Standard,2014,7,2018.0,1.0
3,608370,Canada,Ontario,Toronto,P1W 1K4,Male,College,NaN,Single,Star,3839.75,Standard,2013,2,NaN,NaN
4,530508,Canada,Quebec,Hull,J8Y 3Z5,Male,Bachelor,103495.0,Married,Star,3842.79,Standard,2014,10,NaN,NaN

In [56]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16737 entries, 0 to 16736
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Loyalty Number      16737 non-null  int64
 1   Country             16737 non-null  object
 2   Province            16737 non-null  object
 3   City                16737 non-null  object
 4   Postal Code         16737 non-null  object
 5   Gender              16737 non-null  object
 6   Education           16737 non-null  object
 7   Salary              12499 non-null  float64
 8   Marital Status      16737 non-null  object
 9   Loyalty Card        16737 non-null  object
 10  CLV                 16737 non-null  float64
 11  Enrollment Type     16737 non-null  object
 12  Enrollment Year     16737 non-null  int64
 13  Enrollment Month    16737 non-null  int64
 14  Cancellation Year   2067 non-null   float64
 15  Cancellation Month  2067 non-null   float64
dtypes: float64(4), int64(3), object(9)
memory usage: 2.0+ MB

In [57]:
df2.shape

(16737, 16)

In [58]:
df2.columns

Index(['Loyalty Number', 'Country', 'Province', 'City', 'Postal Code',
       'Gender', 'Education', 'Salary', 'Marital Status', 'Loyalty Card',
       'CLV', 'Enrollment Type', 'Enrollment Year', 'Enrollment Month',
       'Cancellation Year', 'Cancellation Month'],
      dtype='object')

In [59]:
df2.isna().sum()

Loyalty Number            0
Country                   0
Province                  0
City                      0
Postal Code               0
Gender                    0
Education                 0
Salary                 4238
Marital Status            0
Loyalty Card              0
CLV                       0
Enrollment Type           0
Enrollment Year           0
Enrollment Month          0
Cancellation Year     14670
Cancellation Month    14670
dtype: int64

Habría que imputar nulos en la columna Salary y cambiar el tipo de dato en Cancellation Year y Cancellation Month a tipo int.

In [60]:
df2.duplicated().sum()

0

In [61]:
df2['Loyalty Number'].is_unique

True

In [ ]:
# Vemos los valores únicos por cada columna y el conteo de los mismos:

for col in df2:
    print(f'Valores únicos de {col}:')
    print(df2[col].unique())
    print(f'Conteo de valores únicos de {col}:')
    print(df2[col].nunique())
    print('---'*30)

Valores únicos de Loyalty Number:
[480934 549612 429460 ... 776187 906428 652627]
Conteo de valores únicos de Loyalty Number:
16737
------------------------------------------------------------------------------------------
Valores únicos de Country:
['Canada']
Conteo de valores únicos de Country:
1
------------------------------------------------------------------------------------------
Valores únicos de Province:
['Ontario' 'Alberta' 'British Columbia' 'Quebec' 'Yukon' 'New Brunswick'
 'Manitoba' 'Nova Scotia' 'Saskatchewan' 'Newfoundland'
 'Prince Edward Island']
Conteo de valores únicos de Province:
11
------------------------------------------------------------------------------------------
Valores únicos de City:
['Toronto' 'Edmonton' 'Vancouver' 'Hull' 'Whitehorse' 'Trenton' 'Montreal'
 'Dawson Creek' 'Quebec City' 'Fredericton' 'Ottawa' 'Tremblant' 'Calgary'
 'Thunder Bay' 'Whistler' 'Peace River' 'Winnipeg' 'Sudbury'
 'West Vancouver' 'Halifax' 'London' 'Regina' 'Kelowna' "St. John's"
 'Victoria' 'Kingston' 'Banff' 'Moncton' 'Charlottetown']
Conteo de valores únicos de City:
29
------------------------------------------------------------------------------------------
Valores únicos de Postal Code:
['M2Z 4K1' 'T3G 6Y6' 'V6E 3D9' 'P1W 1K4' 'J8Y 3Z5' 'Y2K 6R0' 'P5S 6R4'
 'K8V 4B2' 'H2Y 2W2' 'M8Y 4K8' 'U5I 4F1' 'G1B 3L5' 'H4G 3T4' 'M2M 7K8'
 'M2M 6J7' 'E3B 2H2' 'M1R 4K3' 'T9G 1W3' 'H2Y 4R4' 'V5R 1W3' 'P1L 8X8'
 'K1F 2R2' 'H5Y 2S9' 'V1E 4R6' 'H2T 2J6' 'T3E 2V9' 'H2T 9K8' 'K8T 5M5'
 'V6T 1Y8' 'P2T 6G3' 'T9O 2W2' 'V6E 3Z3' 'R6Y 4T5' 'M5V 1G5' 'V6V 8Z3'
 'B3J 9S2' 'M5B 3E4' 'R2C 0M5' 'S6J 3G0' 'M2P 4F6' 'P1J 8T7' 'V09 2E9'
 'A1C 6H9' 'V10 6T5' 'B3C 2M8' 'M9K 2P4' 'T4V 1D4' 'R3R 3T4' 'S1J 3C5'
 'E1A 2A7' 'K1G 4Z0' 'H3T 8L4' 'C1A 6E8' 'H3J 5I6' 'M3R 4K8']
Conteo de valores únicos de Postal Code:
55
------------------------------------------------------------------------------------------
Valores únicos de Gender:
['Female' 'Male']
Conteo de valores únicos de Gender:
2
------------------------------------------------------------------------------------------
Valores únicos de Education:
['Bachelor' 'College' 'Master' 'High School or Below' 'Doctor']
Conteo de valores únicos de Education:
5
------------------------------------------------------------------------------------------
Valores únicos de Salary:
[ 83236.     nan 103495. ...  76178.  91970. -57297.]
Conteo de valores únicos de Salary:
5890
------------------------------------------------------------------------------------------
Valores únicos de Marital Status:
['Married' 'Divorced' 'Single']
Conteo de valores únicos de Marital Status:
3
------------------------------------------------------------------------------------------
Valores únicos de Loyalty Card:
['Star' 'Aurora' 'Nova']
Conteo de valores únicos de Loyalty Card:
3
------------------------------------------------------------------------------------------
Valores únicos de CLV:
[ 3839.14  3839.61  3839.75 ... 44771.3  50568.26 61134.68]
Conteo de valores únicos de CLV:
7984
------------------------------------------------------------------------------------------
Valores únicos de Enrollment Type:
['Standard' '2018 Promotion']
Conteo de valores únicos de Enrollment Type:
2
------------------------------------------------------------------------------------------
Valores únicos de Enrollment Year:
[2016 2014 2013 2012 2015 2018 2017]
Conteo de valores únicos de Enrollment Year:
7
------------------------------------------------------------------------------------------
Valores únicos de Enrollment Month:
[ 2  3  7 10  5  6 12  1 11  8  4  9]
Conteo de valores únicos de Enrollment Month:
12
------------------------------------------------------------------------------------------
Valores únicos de Cancellation Year:
[  nan 2018. 2015. 2017. 2014. 2016. 2013.]
Conteo de valores únicos de Cancellation Year:
6
------------------------------------------------------------------------------------------
Valores únicos de Cancellation Month:
[nan  1. 12.  4.  2.  7. 11.  5.  6. 10.  8.  9.  3.]
Conteo de valores únicos de Cancellation Month:
12
------------------------------------------------------------------------------------------

Salary tiene valores negativos, pasar a positivo y cambiar a tipo int.

### Cambios a aplicar:

DF1:

- Cambiar el tipo de dato de Points Accumulated a int
- Agrupar por número de cliente, año y mes, sumando el resto de columnas entre sí. 

DF2:

- Imputar nulos en la columna Salary, pasar a positivo y cambiar a tipo int.
- Cambiar el tipo de dato en Cancellation Year y Cancellation Month a tipo int.